body {
  margin: 2rem;
  display: flex;
  justify-content: center;
  font-size: 18px;
}
.card {
  height: 800px;
  width: 1200px;
  background-color: black;
  border: 2px solid black;
}
.card img {
  width: 100%;
  object-fit: contain;
  position: relative;
}
.add-todo {
  background-color: black;
  width: 25%;
  height: 3rem;
  background: black;
  position: absolute;
  top: 12rem;
  display: flex;
  column-gap: 0.5rem;
  left: 50rem;
  padding-left: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.add-todo input {
  background-color: black;
  border-style: none;
  font-size: 16px;
  color: white;
}
.todo-container {
  background-color: black;
  width: 25%;
  height: 2rem;
  background: black;
  position: absolute;
  top: 16rem;
  display: flex;
  flex-direction: column;
  left: 50rem;
  padding-left: 0.5rem;
  padding-top: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.total-todos {
  color: grey;
  font-size: 16px;
  margin-right: 1rem;
  padding-left: 0.5rem;
}
.buttons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}
.buttons button {
  background-color: transparent;
  color: white;
  border-style: none;
}
.todo-content {
  font-weight: 500;
  color: white;
}
.todo-item {
  margin-bottom: 10px;
}
.todo-content {
  margin-left: 10px;
  margin-right: 20px;
}
.cross-button {
  background-color: transparent;
  border-style: none;
  color: gray;
}
